---
import { Image } from 'astro:assets'
import BaseLayout from '@/layouts/BaseLayout'
import Browser from '@/assets/icons/Server.svg'
import Coding from '@/assets/icons/Coding.svg'
import Server from '@/assets/icons/Server.svg'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

interface WorkingOn {
  label: string
  icon: any // astro component type
  description: string
}

const workingOn: WorkingOn[] = [
  {
    label: 'Frontend Dev',
    icon: Browser,
    description:
      'Frontend dev is my major work and the thing I always focusing on, I am so passionate with creating user-interface and improve user experience.',
  },
  {
    label: 'Backend Dev',
    icon: Server,
    description:
      'Backend dev is non-major work but I love to use JS-like programming languages such as NodeJS or PHP to build something Full-Stack projects. ',
  },
  {
    label: 'Python Script',
    icon: Coding,
    description:
      'I am intersted in scripting python to make some boring things automatically, it will not be deep learning about it but just for something funny.',
  },
]
---

<BaseLayout lang={lang} title={t('nav.about')}>
  <main class="space-y-10">
    <section class="flex flex-wrap md:flex-nowrap items-center">
      <section class="space-y-5">
        <span class="font-semibold">Hello, I am</span>
        <h1 class="text-3xl font-bold">Nano@Gaomingzhao</h1>
        <article class="md:w-8/12 text-slate-500 space-y-2">
          <p>
            There have many opinions about the stuffs like web development,
            scripts, technologies, life philosophy etc.
          </p>
          <p>
            We do not provide muti-language translation to every paper, those
            contents will be written in a single languages such as english or
            japanese depends on my mood.
          </p>
          <p>Enjoy and have fun!</p>
        </article>

        <button
          class="bg-grayDeep text-white active:ring-2 font-semibold py-2 px-4 rounded-xl"
        >
          <a href="https://github.com/gaomingzhao666"> Find me on Github </a>
        </button>
      </section>
<!-- 
      <Image
        src={hachiware}
        format="webp"
        class="hidden md:block md:size-4/12 rounded-3xl hover:scale-105 transition-transform"
        alt="img of Hachiware chan"
      /> -->
    </section>

    <section>
      <h1 class="text-3xl font-bold mb-10">Working on</h1>

      <section class="flex items-center flex-wrap md:flex-nowrap gap-4">
        {
          workingOn.map((work) => (
            <section class="size-full md:size-1/3 p-10 flex flex-col items-center gap-y-4 justify-center bg-grayLight dark:bg-grayDeep rounded-3xl">
              <Image
                src={work.icon}
                format="webp"
                alt={`img of ${work.label}`}
              />

              <h2 class="text-2xl font-semibold">{work.label}</h2>
              <p class="text-slate-500 text-center">{work.description}</p>
            </section>
          ))
        }
      </section>
    </section>
  </main>
</BaseLayout>
