---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import PostTag from '@/components/PostTag'
import { getTags } from '@/utils'
import { getTranslation } from '@/i18n/utils'
import { Lang, ui } from '@/i18n/utils'

export function getStaticPaths() {
  return Object.keys(ui).map((lang) => ({ params: { lang: lang as Lang } }))
}

const lang: Lang = Astro.params.lang
const t = getTranslation(lang)
const tags = await getTags(lang)
---

<BaseLayout lang={lang} title={t.tags.title}>
  <TitlePage title={t.tags.title} />
  <section class="flex justify-center flex-wrap gap-x-2 gap-y-4">
    {tags.map((tag) => <PostTag lang={lang} tag={tag} size="lg" />)}
  </section>
</BaseLayout>
