---
import HeaderLink from '@/components/HeaderLink'
import TbBrandGitHub from '@/components/icons/TbBrandGitHub'
import TbBrandLinkedin from './icons/TbBrandLinkedin.astro'
import SearchPage from '@/components/SearchPage'
import TbMenu2 from '@/components/icons/TbMenu2'
import ToggleTheme from '@/components/ToggleTheme'
import LanguagePicker from '@/components/LanguagePicker'
import Modal from '@/components/Modal'
import { getLangFromUrl, getTranslation } from '@/i18n/utils'
import TbBrandTelegram from './icons/TbBrandTelegram.astro'

const lang = getLangFromUrl(Astro.url)
const t = getTranslation(lang)
---

<header class="flex justify-between items-center h-12 font-semibold">
  <a class="text-xl transition-all hover:font-bold" href={`/${lang}`}
    >alexeyfv</a
  >

  <section class="z-50">
    <nav class="flex justify-between gap-3">
      <section class="hidden md:flex gap-3 mr-3">
        <HeaderLink href={`/${lang}`}>
          {t.menu.home}
        </HeaderLink>
        <HeaderLink href={`/${lang}/tags`}>
          {t.menu.tags}
        </HeaderLink>
        <HeaderLink href={`/${lang}/about`}>
          {t.menu.about}
        </HeaderLink>
      </section>

      <section class="hidden md:flex gap-3 mr-3">
        <a
          href="https://github.com/alexeyfv"
          target="_blank"
          rel="noopener noreferrer"
          data-umami-event="social_click"
          data-umami-event-platform="github"
          data-umami-event-location="header"
          data-umami-event-lang={lang}
          aria-label="Open Github"><TbBrandGitHub /></a
        >

        <a
          href="https://www.linkedin.com/in/alexeyfv/"
          target="_blank"
          rel="noopener noreferrer"
          data-umami-event="social_click"
          data-umami-event-platform="linkedin"
          data-umami-event-location="header"
          data-umami-event-lang={lang}
          aria-label="Open LinkedIn"><TbBrandLinkedin /></a
        >

        <a
          href="https://t.me/alexeyfv"
          target="_blank"
          rel="noopener noreferrer"
          data-umami-event="social_click"
          data-umami-event-platform="telegram"
          data-umami-event-location="header"
          data-umami-event-lang={lang}
          aria-label="Open Telegram"><TbBrandTelegram /></a
        >
      </section>

      <LanguagePicker />
      <SearchPage title="Search" />
      <ToggleTheme aria-label="Switch Blog Theme" />

      <nav class="md:hidden">
        <Modal
          title={t.menu.navigation}
          contents={[
            { label: t.menu.home, link: `/${lang}` },
            {
              label: t.menu.tags,
              link: `/${lang}/tags`,
            },
            {
              label: t.menu.about,
              link: `/${lang}/about`,
            },
          ]}
          type="outline"
        >
          <TbMenu2 aria-label="Open Navigation on Mobile Devices" />
        </Modal>
      </nav>
    </nav>
  </section>
</header>
