---
import HeaderLink from '@/components/HeaderLink'
import GithubIcon from '@/components/icons/Github'
import SearchPage from '@/components/SearchPage'
import BurgerIcon from '@/components/icons/Burger'
import ToggleTheme from '@/components/ToggleTheme'
import LanguagePicker from '@/components/LanguagePicker'
import Modal from '@/components/Modal'
import { getLangFromUrl, getTranslation } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = getTranslation(lang)
---

<header class="flex justify-between items-center h-12 font-semibold">
  <a class="text-xl transition-all hover:font-bold" href={`/${lang}`}
    >alexeyfv</a
  >

  <section class="z-50">
    <nav class="flex justify-between gap-3">
      <section class="hidden md:flex gap-3 mr-3">
        <HeaderLink href={`/${lang}`}>
          {t.menu.home}
        </HeaderLink>
        <HeaderLink href={`/${lang}/tags`}>
          {t.menu.tags}
        </HeaderLink>
        <HeaderLink href={`/${lang}/about`}>
          {t.menu.about}
        </HeaderLink>
      </section>

      <LanguagePicker />

      <a
        href="https://github.com/alexeyfv"
        target="_blank"
        aria-label="Open Github"><GithubIcon /></a
      >

      <SearchPage title="Search" />
      <ToggleTheme aria-label="Switch Blog Theme" />

      <nav class="md:hidden">
        <Modal
          title={t.menu.navigation}
          contents={[
            { label: t.menu.home, link: `/${lang}` },
            {
              label: t.menu.tags,
              link: `/${lang}/tags`,
            },
            {
              label: t.menu.about,
              link: `/${lang}/about`,
            },
          ]}
          type="outline"
        >
          <BurgerIcon aria-label="Open Navigation on Mobile Devices" />
        </Modal>
      </nav>
    </nav>
  </section>
</header>
