---
import PostTag from '@/components/PostTag'
import { Image } from 'astro:assets'
import FormattedDate from '@/components/FormattedDate'
import { getLangFromUrl, getTranslation } from '@/i18n/utils'
import { getCover as getCover } from 'src/utils/cover'

const {
  data: { title, description, pubDate, tags },
  readTime,
  slug,
  withoutTags = false,
} = Astro.props

const lang = getLangFromUrl(Astro.url)
const cover = getCover(lang, Astro.props)
const t = getTranslation(lang)
---

<article class="grid grid-rows-[300px_0] group">
  <a class="rounded-xl overflow-hidden" href={`/${lang}/post/${slug}`}>
    <Image
      src={cover}
      class="h-full min-w-full object-cover hover:scale-110 transition-transform"
      alt={`img of ${title}`}
    />
  </a>

  <section class="flex gap-2 mt-3 font-semibold">
    <FormattedDate date={pubDate} />
    <span class="text-sm"> • {readTime} {t.minutes}</span>
  </section>

  <section class="mt-8">
    <a href={`/${lang}/post/${slug}`}>
      <h3 class="text-2xl font-semibold -tracking-wider">
        {title}
      </h3>

      <p
        class="overflow-hidden line-clamp-3 text-grayDeep dark:text-grayLight mb-3 text-sm"
      >
        {description}
      </p>
    </a>

    <footer class="flex flex-wrap gap-x-1 gap-y-2">
      {
        tags.map((tag) =>
          withoutTags ? null : <PostTag lang={lang} tag={tag} />,
        )
      }
    </footer>
  </section>
</article>
