---
import Tag from '@/components/Tag'
import { Lang } from '@/i18n/utils'
import { slugifyTag } from '@/utils'
export interface Props {
  lang: Lang
  size?: string
  tag: string
}

const { lang, tag, size }: Props = Astro.props
const slug = slugifyTag(tag)
---

<a href={`/${lang}/tags/${slug}`} aria-label={tag}>
  <Tag label={tag} color="gray" size={size} />
</a>
