---
import { type CollectionEntry, getCollection } from 'astro:content'
import BlogPost from '@/layouts/BlogPost'
import Code from '@/components/mdx/Code'
import ListRelatedPosts from '@/components/ListRelatedPosts'
import Share from '@/components/Share'
import TableOfContents from '@/components/TableOfContents'
import Comments from '@/components/Comments'
import { getPosts } from '@/utils'
import { useTranslations } from '@/i18n/utils'
import { Lang, ui } from '@/i18n/ui'

export const getStaticPaths = async () => {
  const result: any[] = []

  for (const lang of Object.keys(ui)) {
    const posts = await getPosts(lang as Lang)

    for (const post of posts) {
      result.push({
        params: { lang, slug: post.slug },
        props: post,
      })
    }
  }

  return result
}

const lang: Lang = Astro.params.lang
const t = useTranslations(lang)
const posts = await getCollection(lang)

type Props = CollectionEntry<Lang>

const post = Astro.props
const MAX_POSTS = 10
const getRelatedPosts = (post: Props) => {
  const lowercaseTags = post.data.tags.map((tag) => tag.toLowerCase())
  const relatedPosts = posts.filter(
    (p) =>
      p.slug !== post.slug &&
      p.data.tags.some((t) => lowercaseTags.includes(t.toLowerCase())),
  )
  return relatedPosts.slice(0, MAX_POSTS)
}

const relatedPosts = getRelatedPosts(post)

const { Content, headings, remarkPluginFrontmatter } = await post.render()
---

<BlogPost
  id={post.id}
  data={post.data}
  headings={headings}
  readTime={remarkPluginFrontmatter.minutesRead}
>
  <section class="grid grid-cols-1 md:grid-cols-[20%_auto] gap-10 mt-8">
    <!-- aside  -->
    <aside class="md:flex flex-col gap-8 hidden">
      <Share />
      <section
        class="sticky top-24 self-start hidden md:block transition-all duration-200"
      >
        {headings && headings.length > 0 && <TableOfContents {headings} />}
      </section>
    </aside>

    <!-- post -->
    <article class="max-w-full w-full">
      <section
        class="prose prose-lg md:prose-xl dark:prose-invert mb-12 min-w-full"
      >
        <Content components={{ pre: Code }} />
      </section>

      <!-- related posts -->
      <footer>
        <h2 class="font-bold text-lg dark:text-white mb-6">
          {t('relatedPosts')}
        </h2>
        <ListRelatedPosts posts={relatedPosts} />

        <Comments />
      </footer>
    </article>
  </section>
</BlogPost>
