---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/test/TwSizeIndicator'
import { getLangFromUrl } from '@/i18n/utils'
import type { Props } from '@/components/BaseHead'

const lang = getLangFromUrl(Astro.url)
const { title, description, ogImage, articleDate }: Props = Astro.props
---

<html lang={lang} class="scroll-smooth">
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImage={ogImage}
      articleDate={articleDate}
      lang={lang}
    />
    <ProviderTheme />
    <ProviderAnimations />
  </head>

  <body class="dark:bg-[#0a0910] dark:text-white">
    <main
      class="px-4 sm:mx-auto sm:max-w-2xl antialiased md:max-w-6xl grid gap-12 mt-4 overflow-hidden md:overflow-visible"
    >
      <Header />
      <slot />
      <Footer />
    </main>
    <TwSizeIndicator />
    <script src="../scripts/client.ts"></script>
  </body>
</html>
