---
import FormattedDate from '@/components/FormattedDate'
import BaseLayout from '@/layouts/BaseLayout'
import PostTag from '@/components/PostTag'
import { getLangFromUrl, getTranslation } from '@/i18n/utils'
import { Image } from 'astro:assets'
import { getCover } from 'src/utils/cover'

const { data, readTime } = Astro.props
const { title, description, pubDate, tags } = data

const articleDate = pubDate.toISOString()

const lang = getLangFromUrl(Astro.url)
const cover = getCover(lang, Astro.props)
const t = getTranslation(lang)
---

<BaseLayout
  lang={lang}
  title={title}
  description={description}
  ogImage={cover?.src}
  articleDate={articleDate}
>
  <article class="min-w-full">
    <header class="mb-3 space-y-6">
      <section class="space-2">
        <section class="flex items-center justify-center gap-x-1">
          <p class="text-center text-sm text-opacity-50">
            {t.published}
            <FormattedDate date={pubDate} />
          </p>
          <p class="text-center text-sm font-semibold">
            - {readTime}
            {t.minutes}
          </p>
        </section>

        <h1 class="text-center text-3xl font-bold">
          {title}
        </h1>
      </section>

      <section
        class="flex flex-wrap justify-center items-center gap-x-2 gap-y-4"
      >
        {tags.map((tag: string) => <PostTag lang={lang} tag={tag} />)}
      </section>
    </header>

    {
      cover && (
        <Image
          src={cover}
          quality={100}
          loading="eager"
          class="rounded-xl w-full my-8 object-cover"
          alt={`img of ${title}`}
        />
      )
    }

    <hr />

    <section>
      <slot />
    </section>
  </article>
</BaseLayout>
